<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empresa - Detalle candidato</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="Inicio.html">
                    <img src="img/bolsaEmpleo.png" alt="BolsaEmpleo" width="70" height="70" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand fw-semibold" href="Inicio.html">BOLSA DE EMPLEO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="Empresa.html">Dashboard</a>
                        <a class="nav-link" href="Empresa_MisPuestos.html">Mis puestos</a>
                        <a class="nav-link" href="#">Publicar puesto</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="Login.html">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container py-4 flex-grow-1">
        <div class="mb-3">
            <h4>Detalle de oferente</h4>
        </div>

        <section class="row g-3">
            <article class="col-12">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p>Jose Sanchez</p>
                            </blockquote>
                            <figcaption>
                                <p><span class="fw-bold">Identificaci&oacute;n: </span>123456</p>
                                <p><span class="fw-bold">Email: </span>jsanchez@sanchez.com</p>
                                <p><span class="fw-bold">Tel&eacute;fono: </span>45356677</p>
                                <p><span class="fw-bold">Residencia: </span>San Jose</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </article>

            <h4>Habilidades</h4>

            <article>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Caracter&iacute;stica</th>
                                <th scope="col">Nivel</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Lenguajes de programaci&oacute;n</th>
                                <td>4</td>
                            </tr>
                            <tr>
                                <th scope="row">Java</th>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th scope="row">Tenolog&iacute;as Web</th>
                                <td>4</td>
                            </tr>
                            <tr>
                                <th scope="row">Modelado</th>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th scope="row">Assertions</th>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="Empresa_Candidatos.html" class="btn btn-outline-primary btn-md">Volver</a>
                </div>
            </article>
        </section>


    </main>

    <footer class="footer footer-dark mt-5 bg-dark">
        <div class="container py-3">
            <div class="row align-items-center gy-2">

                <div class="col-12 col-md-6">
                    <div class="text-white fw-semibold">Bolsa de Empleo</div>
                    <small class="text-white-50">Total Soft Inc.</small>
                </div>

                <div class="col-12 col-md-6 text-md-end">
                    <div>
                        <small class="text-white-50">Contactar: </small>
                        <a class="text-white-50 text-decoration-none" href="mailto:info@ejemplo.com">
                            info@ejemplo.com
                        </a>
                    </div>
                    <small class="text-white-50">Cr&eacute;dito: Equipo de desarrollo</small>
                </div>

            </div>
        </div>
    </footer>
</body>
